/*Style do projeto*/
*{
  margin:0;
  padding: 0;
}

.confBody{
  background-color: #808080;
}

.confSection{
  display:flex;
  justify-content: center;
  align-items: center;
}

.bloco{
  margin-top: 80px;
  border-radius: 8px;
  background-color: #292727;
  width: 355px;
  height: 300px;
  padding: 35px;
  align-items: center;
  justify-content: center;
}

.bloco form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bloco input{
  margin-top: 10px;
  border-radius: 8px;
  font-family: 'Roboto';
  background-color: #CFCDCD;
  color:black;
  outline: none;
  padding-left: 10px;
}

input::placeholder{
  color:black;
  font-size: 12px;
}

.bloco h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Saira Stencil One', cursive;
  font-size: 30px;
  margin-top: 30px;
}