<!DOCTYPE html>
<html lang="pt-br">
  <html>
    {{>head}}
    <body class="efeitos">
      <section class="secao">
        <div class="bloco">
          <h1>Criar Pedido</h1>
          <!--Importe Rest.js--->
          <script src="/javascripts/controller/rest.js"></script>
          {{>formTemplate}}
        </div>
      </section>
    </body>
  </html>
</html>
