<form id="pedidoForm" method="POST">
  <input type="text" id="clienteInput"
  placeholder="Cliente Nome EX: Luffy"
  autofocus required>
  <input type="text" id="produtoInput" 
  placeholder="Nome Produto: EX: Carne" required>
  <input type="number" id="itemPrecoInput" name="itemPreco" min="0" step="0.01" 
  placeholder="Preço EX: 10.00"required>
  <input type="number" id="quantidadeInput" 
  placeholder="Qauntidade EX: 10" required>
  <input class="input" id="botao" type="submit" value="Editar" />
  <input class="input" id="botaoExcluir" type="submit" value="Excluir" />
</form>
