<form id="pedidoForm">
  <label for="clienteInput">Cliente:</label>
  <input type="text" id="clienteInput" required><br>
  <label for="produtoInput">Produto:</label>
  <input type="text" id="produtoInput" required><br>
  <label for="quantidadeInput">Quantidade:</label>
  <input type="number" id="quantidadeInput" required><br>
  <input class="input" id="botao" type="submit" value="Criar Pedido" />
</form>

