<!DOCTYPE html>
<html lang="pt-br">
<html>
  {{>head}}
  <body>
    <h1>Criar Pedido</h1>
    {{>formTemplate}}
    <h2>Pedidos</h2>
    <ul id="pedidosList"></ul>
    <script src="javascript/tst.js"></script>
  </body>
</html>