<!DOCTYPE html>
<html lang="pt-br">
  <!-- Head -->
  {{>head}}
  <body class="background">
    <!-- Cabeçalho -->
    {{>header}}

    <!-- Conteúdo Da Pagina -->
    <main>
        
    </main>

    <!-- Rodapé -->
    {{>footer}}
  </body>
</html>
