<!DOCTYPE html>
<html lang="pt-br">
  <html>
    {{>head}}
    <body class="efeitos">
      <section class="secao">
        <div class="bloco">
          <h1>Editar Pedido</h1>
          {{>editarEcluirTemplate}}
        </div>
      </section>
    </body>
  </html>
</html>
