<!DOCTYPE html>
<html lang="pt-br">
  {{>head}}
  <html>
    <body class="confBody">
      <section class="confSection">
        <div class="bloco">
          <h1>Comprar Item</h1>
            {{>formPedido}}
            <script src="/javascripts/controller/infoForm.js"></script>
        </div>
      </section>
    </body>
  </html>
</html>
