<!DOCTYPE html>
<html lang="pt-br">
  {{>head}}
  <html>
    <body class="confBody">
      <section class="confSection">
        <div class="bloco">
          <h1>Comprar Item</h1>
            {{>formPedido}}
        </div>
        <script src="/controller/comprasController.js"></script>
      </section>
    </body>
  </html>
</html>
