<!DOCTYPE html>
<html lang="pt-br">
  {{>head}}
  <body class="confBody">
    <section class="confSection">
      <div class="bloco">
        <h1>Detalhe do Pedido</h1>
        <script src="/controller/detalheController.js"></script>
        <p>Cliente ID: {{ pedido.cliente.id }}</p>
        <p>Cliente Nome: {{ pedido.cliente.nome }}</p>
        <ul>
          {{#pedido.itens}}
          <li>{{ produto.nome }} - Quantidade: {{ quantidade }}</li>
          {{/pedido.itens}}
        </ul>
        <p>
          Total: R$ <span id="total">{{ pedido.total }}</span>
        </p>

        <button id="editarBtn" class="input" type="button">
          Editar Pedido
        </button>
        <button id="excluirBtn" class="input" type="button">
          Excluir Pedido
        </button>
      </div>
    </section>
  </body>
</html>
