<!DOCTYPE html>
<html lang="pt-br">
  {{>head}}
  <html>
    <body class="confBody">
      <section class="confSection">
        <div class="bloco">
          <h1>Detalhe do Pedido</h1>
          <p>Cliente ID: {{ clienteId }}</p>
          <p>Cliente Nome: {{ clienteNome }}</p>
          <p>Produto ID: {{ produtoId }}</p>
          <p>Item Nome: {{ itemNome }}</p>
          <p>Item Preço: {{ itemPreco }}</p>
          <p>Item Quantidade: {{ itemQuantidade }}</p>
          <p>Total: R$ <span id="total"></span></p>
          <input
            id="editarBtn"
            class="input"
            type="submit"
            value="Editar Pedido"
          />
          <input
            id="excluirBtn"
            class="input"
            type="submit"
            value="Excluir Pedido"
          />
        </div>
        <script src="/controller/detalheController.js"></script>
      </section>
    </body>
  </html>
</html>
